/* Let the style.css empty by design and use this css instead. 
   This way we can work around the cache by increasing version numbers.
*/

#header {
    background:#1F2D52 !important;
    max-width: 100%;
}
#footer {
    background:#1F2D52 !important;
}
#site-title h1 a {
    text-transform: lowercase;
    font-family: 'Baloo', cursive;
    color: white !important;
    font-size: 44px !important;
}
#site-nav a {
    text-transform: lowercase !important;
    font-family: 'Baloo', cursive;
    color: white !important;
    font-size: 24px !important;
}
/* laptop + desktop screens */
@media screen and (min-width: 1180px) {
#site-nav {
    padding: 55px 25px 22px;
}
}